header {
	padding: 10px 10px;
	display: inline-block;
	width: 100%;
	background-color: lightgrey;
}

header a {
	padding: 0 15px;
}

.headRight {
	float: right;
}

.tableContainer {
	width: 80%;
}

.btn-sm {
	min-width: 60px;
}

select {
	min-width: 150px;
	max-width: 300px;
}
input {
	max-width: 300px;
}

textarea {
	max-width: 300px;
	max-height: 100px;
	margin-bottom: 20px;
}

.form-inline {
	display: inline-block;
}

input[type="submit"] {
	font-size: 20px;
	outline: none;
	width: 90px;
	height: 30px;
}


.hideBlock {
	display: none;
}

.showBlock {
	display: block;
}

#addBlock {
	padding: 0 50px;
	border: 1px dashed grey;
	background-color: lightblue;
}

.error {
	border-color: red;
}

.success {
	border-color: green;
}